.App {
    max-width: 400px;
    background-color: #23252C;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin:auto;
    margin-top: 50px;
    padding: 40px 150px;
}

.App-content {
    background-color: #1A1B21;
    max-width: 400px;
    border-radius: 15px;
}

.App-text {
    margin: 30px 50px;
}

.App-text h3 {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 5px;
}

.App-text p {
    font-size: 14px;
    font-weight: 300;
    margin: 0px;
    line-height: 20px;
}
